$grid-columns: 10;
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > footer {
    flex: 0 0 auto;
  }
}

.wrapper {
  flex: 1 0 auto;
  @at-root aside {
    flex: 0 0 200px
  }
  @at-root main {
    flex: 1 0 1%;
  }
}
